<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <!-- style的寫法是寬度 樣式 顏色，中間要有"空白" -->
    <input type="text" v-model="newitem" @keydown.enter="add" :style="{border:'10px solid '+ borderColor}">
    <!-- button沒有 @keydown -->
    <input type="button" value="新增" @click="add">
    <ul>
      <li v-for="(item, index) in items">
        <!-- 打勾的功能 -->
        <input type="checkbox" :checked="item.done" @change="toggle(item)">
        <!-- 刪除線標籤 -->
        <!-- 如果完成，是顯示刪除標籤 -->
        <del v-if="item.done"> {{item.text}} </del>
        <!-- 否則顯示一般文字 -->
        <span v-else>{{item.text}}</span>
        <input type="button" value="x" @click="del(index)">
      </li>
    </ul>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    new Vue({
      el: '#app',
      name: 'app',
      data: {
        newitem: '',
        items: []
      },
      methods: {
        add() {
          // 字數要 > 2
          if (this.newitem.length > 2) {
            this.items.push({ done: false, text: this.newitem })
            // 新增後清空欄位
            this.newitem = ''
          }
        },
        toggle(item) {
          item.done = !item.done
        },
        del(index) {
          this.items.splice(index, 1)
        }
      },
      computed: {
        borderColor() {
          return (this.newitem.length > 2) ? 'green' : 'red'
        }
      },
      // 監聽
      watch: {

        // newitem=> data 名稱
        newitem(newValue, oldValue) {
          console.log('東西改變了');
        },
        items: {
          // 要加上 deep:true，才能知道陣列裡面的值有改變
          deep: true,
          // handler 固定名稱
          handler(newValue, oldValue) {
            localStorage.setItem('todo', JSON.stringify(this.items))
            console.log('陣列改變了');
          }
        }
      },
      mounted() {
        const data = localStorage.getItem('todo')
        if (data !== null) {
          this.items = JSON.parse(data)
        }
      }
    })
  </script>
</body>

</html>