<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <!-- style的寫法是寬度 樣式 顏色，中間要有"空白" -->
    <input type="text" v-model="newitem" @keydown.enter="add" :style="{border:'10px solid '+ borderColor}">
    <!-- button沒有 @keydown -->
    <input type="button" value="新增" @click="add">
    <ul>
      <li v-for="item in items">
        <!-- 打勾的功能 -->
        <input type="checkbox" :checked="item.done" @change="toggle(item)">
        <!-- 刪除線標籤 -->
        <!-- 如果完成，是顯示刪除標籤 -->
        <del v-if="item.done"> {{item.text}} </del>
        <!-- 否則顯示一般文字 -->
        <span v-else>{{item.text}}</span>
      </li>
    </ul>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    new Vue({
      el: '#app',
      name: 'app',
      data: {
        newitem: '',
        items: []
      },
      methods: {
        add() {
          // 字數要 > 2
          if (this.newitem.length > 2) {
            this.items.push({ done: false, text: this.newitem })
            // 新增後清空欄位
            this.newitem = ''
          }
        },
        toggle(item) {
          item.done = !item.done
        }
      },
      computed: {
        borderColor() {
          return (this.newitem.length > 2) ? 'green' : 'red'
        }
      },

    })
  </script>
</body>

</html>