<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    input[type="text"]::placeholder {
      color: rgb(172, 169, 169);
      padding-right: 0.5rem;
    }

    .del {
      text-decoration: line-through;
    }
  </style>
</head>

<body>
  <div id="app">
    <input type="text" placeholder="新增事項" v-model="newitem" @keydown.enter="add"
      :style="{border:'3px solid '+ borderColor}">
    <input type="button" value="新增" @click="add">
    <ul>
      <li v-for="(item, index) in items">
        <input type="checkbox" :checked="item.done" @change="toggle(item)">
        <span :class="{del: item.done}" @dblclick="double(item)">{{item.text}}</span>
        <input type="button" value="x" @click="del(index)">
        <input type="text" v-model="item.text" @keydown.enter="" v-show="item.see">
      </li>
    </ul>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    new Vue({
      el: '#app',
      name: 'app',
      data: {
        newitem: '',
        items: []
      },
      methods: {
        add() {
          if (this.newitem.length >= 2) {
            this.items.push({ done: false, text: this.newitem, see: false, model: this.newitem })
            this.newitem = ""
          }
        },
        toggle(item) {
          item.done = !item.done
        },
        del(index) {
          this.items.splice(index, 1)
        },
        double(item) {
          item.see = true
        }
      },
      // computed 一定要 return
      computed: {
        borderColor() {
          return (this.newitem.length > 2) ? 'blue' : (this.newitem.length == 0) ? 'black' : 'red'
        }
      },
      watch: {
        items: {
          deep: true,
          handler() {
            localStorage.setItem('todo', JSON.stringify(this.items))
          }
        }
      },
      mounted() {
        const data = localStorage.getItem('todo')
        if (data !== null) {
          this.items = JSON.parse(data)
        }
      }
    })
  </script>
</body>

</html>